<!--
Arquivo gerado automaticamente pelo build.
Caso deseje bloquear o parser nesse arquivo, basta adicionar o caracter #(cerquilha) antes da palavra a seguir
FileLocked
-->

{% extends 'core/index_list.html' %} 
{% load base %}
{% block title %}Listagem Cliente{% endblock title %} 
{% block title_modulo %}Cliente{% endblock title_modulo %} 
{% block menu_app %}
    {% for app in apps %}
        {% if app.real_name_app.lower == 'usuario' %}
            {% for model in app.models_app %}
                {% if model|has_view_permission:request %}
                    <tr>
                        <td>
                            <i class="fe fe-chevrons-right text-muted"></i> &nbsp;
                            <a href="{% url model.path_url %}"> {{ model.name_model|title }} </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock menu_app %} 

<!-- Bloco para passagem da URL do formulário de cadastro -->
{% block uriadd %}{% url "usuario:cliente-create" %}{% endblock uriadd %}
    
{% block list_app %}
<thead>
    <tr>
        <th class="w-1"></th>
        <th>Nome</th>
<th>Email</th>
<th>Telefone</th>
<th>Endereço Residencial</th>

    </tr>
</thead>
<tbody>
    {% for item in cliente %}
        <tr>
            <td>
                <a href="{% url 'usuario:cliente-update' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar Registro.">
                    <i class="fe fe-edit"></i>
                </a>
                <a href="{% url 'usuario:cliente-detail' item.pk %}" class="mx-3" data-toggle="tooltip" data-placement="bottom" title="Visualizar Registro.">
                    <i class="fe fe-eye"></i>
                </a>
                <a href="{% url 'usuario:cliente-delete' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Excluir Registro.">
                    <i class="fe fe-trash text-muted"></i>
                </a>
            </td>
            <td>{{ item.nome }}</td>
<td>{{ item.email }}</td>
<td>{{ item.telefone }}</td>
<td>{{ item.endereco_res }}</td>

        </tr>
    {% endfor %}
</tbody>
{% endblock list_app %}

{% block size_itens %}
    {{ cliente.count }} retornadas.
{% endblock size_itens %}
