{% load base %}
{% load static %}
<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

  <!-- Brand demo (see {% static 'core/css/demo/demo.css' %}) -->
  <div class="app-brand demo">
    <span class="app-brand-logo demo">
      <img src="{% static 'core/images/brasao-prefeitura.png' %}" alt="Logo" class="d-block ui-w-40" style="margin: 6px"/>
    </span>
    <a href="{% url 'index' %}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">{{ system_name }}</a>
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>

  <div class="sidenav-divider mt-0"></div>

  <!-- Links -->
  <ul class="sidenav-inner py-1">

    <li class="sidenav-item">
      <a href="{% url 'index' %}" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i>
        <div>Início</div>
      </a>
    </li>

    {% for app in apps %}
    {% if app.real_name_app.lower in perms %}
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
        <i class="sidenav-icon fas {%if app.icon_app %} fa-{{app.icon_app}} {% else %} fa-th {% endif %}"></i>
        <div>{{ app.name_app }}</div>
      </a>

      <ul class="sidenav-menu">
        {% for model in app.models_app %}
        {% if model|has_view_permission:request %}
        <li class="sidenav-item">
          <a href="{% url model.path_url %}" class="sidenav-link">
            <div>{{ model.name_model|title }}</div>
          </a>
        </li>
        {% endif %}
    {% endfor %}
      </ul>
    </li>
    {% endif %}
{% endfor %}
  </ul>
</div>